<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".painttest.G6AcceptanceActivity"
            android:exported="true" />
        <activity
            android:name=".painttest.G5AcceptanceActivity"
            android:exported="true" />
        <activity
            android:name=".painttest.G4AcceptanceActivity"
            android:exported="true" />
        <activity
            android:name=".painttest.G3AcceptanceActivity"
            android:exported="true" />
        <activity
            android:name=".painttest.G2FidelityActivity"
            android:exported="true" />
        <activity
            android:name=".painttest.G2RawSamplingActivity"
            android:exported="true" />
        <activity
            android:name=".painttest.PaintTestActivity"
            android:exported="true"
            android:launchMode="singleTask" />
    </application>

</manifest>
